<!-- Footer -->
<footer class="font-small text-light bg-dark pt-4">

	<!-- Footer Links -->
	<div class="container-fluid text-center text-md-left">
		<!-- Grid row -->
		<div class="row">

			<!-- Grid column -->
			<div class="col-md-9 mt-md-0 mt-3S">
				<!-- Content -->
				<h5 class="text-uppercase">YelpCamp</h5>
				<p>
				This site has been created with the aid of the Web Developer Bootcamp course by Colt Steele. 
				Its creation is for learning purposes only. 
				</p>
				<p>
					Student Name: Mofiz Uddin 
				</p>
			</div>
			<hr class="clearfix w-100 d-md-none pb-3">
			<!-- Grid column -->
			<div class="col-md-3 mb-md-0 mb-3">
				<!-- Links -->
				<h5 class="text-uppercase">Links</h5>

				<ul class="list-unstyled">
				<li>
				<a href="https://www.udemy.com/the-web-developer-bootcamp/">Udemy Bootcamp Course</a>
				</li>
				<li>
				<a href="https://github.com/MofizUddin1/YelpCamp">GitHub code</a>
				</li>
				</ul>
			<!-- Grid column -->
			</div>
		<!-- Grid row -->
		</div>
	<!-- Footer Links -->
	</div>
	<!-- Copyright -->
	<div class="text-center footer py-3"> !© 2019 !Copyright:
	<a href="https://murmuring-gorge-54396.herokuapp.com/campgrounds"> YelpCamp</a>
	</div>
	<!-- Copyright -->

</footer>
<!-- Footer -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>