<% include ../partials/header %>
<div class="row d-flex justify-content-center">
	<div class="white-panel col-11 col-sm-9 col-md-8 col-lg-6 col-xl-4">
		<div class="pb-2 justify-content-center">
			<h5 class="text-center">Add Review For  <%= campground.name%></h5>
			<hr class="white-hr">
		</div>
		
		<form class="p-6" action="/campgrounds/<%=campground._id%>/comments" method="POST">
			<div class="review-area p-2">	
				<ul class="rate-area">
						<input type="radio" id="5-star" name="comment[rating]" value="5" /><label for="5-star" title="Amazing">5 stars</label>
						<input type="radio" id="4-star" name="comment[rating]" value="4" /><label for="4-star" title="Good">4 stars</label>
						<input type="radio" id="3-star" name="comment[rating]" value="3" /><label for="3-star" title="Average">3 stars</label>
						<input type="radio" id="2-star" name="comment[rating]" value="2" /><label for="2-star" title="Not Good">2 stars</label>
						<input type="radio" id="1-star" name="comment[rating]" value="1" /><label for="1-star" title="Bad" checked>1 star</label>
				</ul>
				<textarea class="form-control m-1 resized-text" name="comment[text]" placeholder="Leave your review here...." cols="35" rows="10" ></textarea>
				<!-- <input  type="text" >
				<span>Rating:</span> -->
			</div>
			<input class="brn btn-primary btn-block m-1 mt-4" type="submit">
		</form>
		<a href="/campgrounds">Back</a>
	</div>
</div>
<% include ../partials/footer %>