<% include partials/header %>
<div class="d-flex justify-content-center align-items-center">
	<div class="white-panel">
		<div class="login-show">
			<h4 class="text-center">Sign in</h4>
			<hr>
			<form action="/login" method="post">
				<input class="form-control m-1" type="text" name="username" placeholder="username">
				<input class="form-control m-1" type="password" name="password" placeholder="password">
				<button class="btn btn-primary btn-block m-1">
					Login
				</button>
			</form>
			<p>Don't have an account? <a href="/register">Sign up</a></p>
		</div>
	</div>
</div>
<% include partials/footer %>