<% include ../partials/header %>

<div class="container pt-3">
	<header class="jumbotron px-5 mt-2; sm-px-auto">
		<h1>Welcome to YelpCamp</h1>
		<p>
			Welcome To The YelpCamp Site. Reviews for Campgrounds Across London.
		</p>
		<p>
			<a class="btn btn-dark p-3" href="/campgrounds/new">Add New Campground</a>
		</p>
	</header>
	<div class="row justify-content-around p-0 ">
		<%campgrounds.forEach((campground)=>{%>
			<div class="col-md-6 col-lg-4 col-12 my-1">
				<div class="card border-1 fade-overlay-image">
				  	<img src="<%= campground.image %>" class="card-img-top img " alt="...">
					<div class="fade-overlay">
						<a class="overlay-link btn btn-dark" href="/campgrounds/<%= campground._id %>">More Info</a>
					</div>
					<div class="card-body p-0 m-1 text-center">
						<h5 class=" d-flex py-1 justify-content-center"><%=campground.name%></h5>
					
					</div>
				</div>
			</div>
		<%});%>
	</div><!-- end row -->
</div><!-- end page container -->
<% include ../partials/footer %>